fastapi
uvicorn[standard]
sqlalchemy
pydantic
pydantic-settings
jinja2
python-multipart
requests
pandas
apscheduler
pandas        # Для быстрого чтения и обработки CSV
aiosqlite		#Без неё SQLAlchemy не может подключиться к базе асинхронно.
